.chat-main
  .chat-main__group
    .chat-main__group__title
      %p.group-name
        test
      %p.member-name
        Member :masa
    = link_to "#", class: "edit__btn" do
      Edit
  .message
    .chat-post
      .chat-post__contents
        %p.member-name
          masa
        %p.day-time
          2019/11/20(Wed) 17:43:01
      %p.chat-post__message
        おはよう！
    .chat-post
      .chat-post__contents
        %p.member-name
          masa
        %p.day-time
          2019/11/20(Wed) 17:43:34
      %p.chat-post__message
        今日は夜から雨
  .form
    %form
      .input-box
        %input.input-box__text{:placeholder => "type a message", :type => "text"}
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input.input-box__image__file{type: "file"}
      %input.send-btn{:type => "submit", :value => "Send"}
          
  