.chat-post{data: {message: {id: message.id}}}
  .chat-post__contents
    .member-name
      = message.user.name
    .day-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-message
    -if message.text.present?
      %p.chat-message__text
        = message.text
    = image_tag message.image.url, class: 'chat-message__image' if message.image.present?
